<header>
  <div class="circle-header_green"></div>
  <div class="circle-header_blue"></div>
  <div class="circle-header_white"></div>


  <div class="main-divofheader">


    <div class="buttontext-div">
      <h1>Live here and now!</h1>
      <button (click)="scrollIntoForm()">
        Start now
      </button>
    </div>
    <div class="header-img">
      <img src="assets/images/women-1.png" alt="#">
      <div class="circle-header_green2"></div>
      <div class="circle-header_blue2"></div>
      <div class="circle-header_white2"></div>
    </div>
  </div>

</header>



<section class="about-us">
  <h2>About us</h2>
  <p>We are Ambition Group, a gateway to exceptional opportunities for women around the globe. We specialize in empowering talented individuals to thrive in  work environments abroad. Our mission is to foster ambition, cultivate growth, and create transformative experiences. Through personalized support and unmatched dedication, we connect women with international careers that inspire and elevate.
  </p>
</section>


<section class="offers">
  <h2>
    Offers
  </h2>
  <div class="cards-wrapper">
    <div class="card">
      <img src="assets/images/326727_suitcase_work_icon.svg" alt="#">
      <p>Work abroad on a permanent basis</p>
    </div>

    <div class="card">
      <img src="assets/images/211683_alarm_icon.svg" alt="#">
      <p>Flexible work schedule</p>
    </div>

    <div class="card">
      <img src="assets/images/3669407_key_vpn_ic_icon.svg" alt="#">
      <p>Privacy and Security</p>

    </div>

    <div class="card">
      <img src="assets/images/7853765_globe_kashifarif_world_earth_country_icon.svg" alt="#">
      <p>New opportunities</p>
    </div>
  </div>
</section>

<section class="partners">

  <h2>Our partners</h2>

  <div class="cards-wrapper_2">
    <div class="card_2">
      <div class="img"></div>
      <p>"Ambition made my dream of working abroad a reality! They provided exceptional support throughout the entire process and connected me with an incredible opportunity. I'm so grateful for their guidance and encouragement." - Maria</p>
    </div>
    <div class="card_2">
      <div class="img2"></div>
      <p>"Thanks to Ambition, I've grown both personally and professionally. The experience of working overseas has been life-changing, and I couldn't have done it without their expertise and dedication to women's empowerment." - Emily</p>
    </div>
    <div class="card_2">
      <div class="img3"></div>
      <p>"Ambition doesn't just offer jobs; they offer a path to self-discovery and success. I never imagined I'd be where I am today, all thanks to their unwavering belief in women's potential." - Sophia</p>
    </div>
  </div>

</section>
<section>
  <h2>Form</h2>
  <div>
    <form #form class="form" method="post" action="#" [formGroup]="applicationForm" (ngSubmit)="sendApplication()">
      <input type="text" name="Name" value="" placeholder="Name" formControlName="name">
      <input type="tel" name="Phone" value="" placeholder="Phone" formControlName="phone">
      <input type="text" name="Email" value="" placeholder="Email" formControlName="email">
      <button>Send</button>
    </form>

  </div>

</section>


<footer>

  <div class="circle-footer_green"></div>
  <div class="circle-footer_green2"></div>
  <div class="circle-footer_white"></div>
  <div class="circle-footer_white2"></div>

  <div class="all-footer">
    <div class="circle-footer_blue"></div>
    <h3>Contact via</h3>
    <div class="phone">
      <img src="assets/images/2849835_phone_telephone_cell_call_communication_icon.svg" alt="">
      <p>+995-500-505-147</p>
    </div>
    <div class="gmail">
      <img src="assets/images/1181190_email_gmail_google_mail_icon.svg" alt="">
      <p>Ambitions.groups@gmail.com</p>
    </div>

    <p class="year">© Ambition 2022-2024</p>
  </div>

</footer>
